*{
  box-sizing: border-box;
}


body{
  background-color: #05b408;
  min-width: 1165px;
  transform: scale(.9, .9);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    
}

p{
  font-size: 110%;
  font-family: Comic Sans, Comic Sans MS, cursive, tahoma;
  text-align: center;
}


.container{
    margin:auto;
    width: 90%;
    height: 800px;
    min-width: 1100px;
}

.rows{
    margin:auto;
    width: 1015px;
    clear:both;
    background-color: red;
}

.set-container{
    float: right;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
}

.extra-set-container{
    float:right;
    margin-right: 145px;
}

.extra-set{
    float:right;
    margin-left: 20px;
    
}
.home{
    position: relative;
    float:right;
    margin-left: 20px;
    background-image: url('../img/default_home.png');
    background-position: -8px -20px;
    background-repeat: no-repeat;
    background-size: 110%;

}

.card-holder{
    border: 1px solid lightgray;
    width: 123px;
    height: 175px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}

.card{
    width: 123px;
    height: 175px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
}

.extra-set{
    position: relative;
}

