*{
  box-sizing: border-box;
}


body{
  background-color: #05b408;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

p{
  font-size: 110%;
  font-family: Comic Sans, Comic Sans MS, cursive, tahoma;
  text-align: center;
}

.row{
    margin-top: 30px;
}